body {
	background-color: #797979;
	margin: 0;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #333;
}

li {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	margin: 0;
	text-decoration: none;
	transition: background-color 1s ease;
	background-color: #333;
}

li:hover {
	background-color: black;
	cursor: pointer;
}

.menueButton{
	background-color: #333;
	border: none;
	color: white;
	cursor: pointer;
	text-align: center;
	border: none;
	transition: background-color 1s ease;
	padding: 15px 40.5px;
}

.menueButton:hover{
	background-color: black;
}

.about{
	float: right;
	padding: 0;
}

::-moz-selection {
  color: black;
  background: grey;
}

::selection {
  color: black;
  background: lightgrey;
}
